<%- include ('./header.ejs') -%>
<main>
    <div class="content">
        <h3>Patient Profile</h3>
        <form class="form-inline" action="/viewAddAppointment" method="GET">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick=>Edit Patient</button>
        </form>
        <table class="table table-striped">
            <thead>
                <tr>

                    <th scope="col">OHIP</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Date of Birth</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Address</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"><%= patientProfile.ohip %></th>
                    <td><%= patientProfile.last_name %></td>
                    <td><%= patientProfile.first_name %></td>
                    <td><%= patientProfile.dateof_birth.toLocaleDateString() %></td>
                    <td><%= patientProfile.gender %></td>
                    <td><%= patientProfile.email %></td>
                    <td><%= patientProfile.phone_number %></td>
                    <td><%= patientProfile.address %></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="content">
        <h3>Medical History</h3>
        <% if (medicalHistory.length > 0) {%>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Observation</th>
                    <th scope="col">Laboratory</th>
                    <th scope="col">Prescription</th>
                </tr>
            </thead>
            <tbody>
                <% medicalHistory.forEach((entry, index) => { %>
                <tr>
                    <th scope="row"><%= entry.observation_date.toLocaleString()%></th>
                    <td><%= entry.observation %></td>
                    <td><%= entry.laboratory %></td>
                    <td><%= entry.prescription %></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <% } %>
</main>


<!--Footer-->
<footer>copyright&copy;Hope Clinic 2020</footer>

</body>

</html>