<%- include ('./header.ejs') -%>
<main>
    <div class="content">
        <h3>Doctor Profile</h3>
        <form class="form-inline" action="/viewAddDoctor" method="GET">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick=>Add Doctor</button>
        </form>
        <table class="table table-striped">
            <thead>
                <tr>

                    <th scope="col">Doctor Id</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Specialization</th>
                    <th scope="col">Department</th>

                </tr>
            </thead>
            <tbody>
                <% doctorProfile.forEach((doctor, index) => { %>
                <tr>
                    <th scope="row"><%= doctor.doctor_id %></th>
                    <td><%= doctor.last_name %></td>
                    <td><%= doctor.first_name %></td>
                    <td><%= doctor.specialization %></td>
                    <td><%= doctor.department %></td>
                  
                </tr>
                <% }) %>

            </tbody>
        </table>
    </div>


</main>

</div>

<!--Footer-->
<footer>copyright&copy;Hope Clinic 2020</footer>

</body>

</html>