<%- include ('./header.ejs') -%>
<main>
    <div class="content">
      <h3>Billing</h3>
        <form class="form-inline" action="/viewAddBill" method="GET">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick=>Add Bill</button>
        </form>

       <% if (billing.length > 0) {%>
       <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Receipt</th>
            <th scope="col">OHIP</th>
            <th scope="col">Last Name</th>
            <th scope="col">First Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Email</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
            <% billing.forEach((bill, index) => { %>
                <tr>
                    <th scope="row"><%= bill.bill_number%></th>
                    <td><%= bill.ohip %></td>
                    <td><%= bill.last_name %></td>
                    <td><%= bill.first_name %></td>
                    <td><%= bill.phone_number %></td>
                    <td><%= bill.email %></td>
                    <td>$<%= bill.amount %></td>
                </tr>
            <% }) %>
        </tbody>

      </table>
      <% } %>
    </div>
</main>

<!--Footer-->
<footer>copyright&copy;Hope Clinic 2020</footer>
</body>

</html>