<%- include ('./header.ejs') -%>
<main>
    <div class="content">
      <h3>Appointment</h3>
        <form class="form-inline" action="/viewAddAppointment" method="GET">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick=>Add Appointment</button>
        </form>

       <% if (appointments.length > 0) {%>
       <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Time</th>
            <th scope="col">OHIP</th>
            <th scope="col">Last Name</th>
            <th scope="col">First Name</th>
            <th scope="col">Doctor ID</th>
            <th scope="col">Doctor</th>
          </tr>
        </thead>
        <tbody>
            <% appointments.forEach((appointment, index) => { %>
                <tr>
                    <th scope="row"><%= appointment.appointment_time.toLocaleString()%></th>
                    <td><%= appointment.ohip %></td>
                    <td><%= appointment.patient_lname %></td>
                    <td><%= appointment.first_name %></td>
                    <td><%= appointment.doctor_id %></td>
                    <td><%= appointment.last_name %></td>
                </tr>
            <% }) %>
        </tbody>

      </table>
      <% } else { %>
        <p class="text-center">No appointments found. click the add appointment button to add.</p>
    <% } %> %>
    </div>
</main>

<!--Footer-->
<footer>copyright&copy;Hope Clinic 2020</footer>
</body>

</html>